.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board-row {
  margin-left: 660px;
}

.header {
  text-align: center;
  color: #ca3433;
}

.para {
  text-align: justify;
  margin-left: 420px;
  color: #ed2939;
  width: 670px;
}

hr {
  width: 220px;
  background-color: #ff6666;
  height: 2px
}

.square {
  background: #ff6666;
  border: 2px solid rgb(0, 0, 0);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 68px;
  height: 68px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 68px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}